<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Stock Market Lister App
    </ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
  <ion-searchbar debounce="500"></ion-searchbar>
     

  <ion-list>
    <!-- <ion-item>
      <ion-input  placeholder="Search.."></ion-input>
      <button clear item-right>Search</button>
    </ion-item> -->
    <ion-list-header>
      <h2>Stocks you follow</h2>
    </ion-list-header>
    <!-- <div *ngFor="stock of stocks"> DO NOT USE divs with *ngFor in Ionic
    <ion-list>
      {{stock}}
    </ion-list>
    </div> -->
    <ion-item *ngFor="let stock of followedStocks$ | async">
      {{stock}}
      <ion-label *ngIf="(followedStocks$ | async)?.length==0">You have not followed any stocks</ion-label>
    </ion-item>
      
  </ion-list>
  <!-- floating button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="StockAddPage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
 </ion-content>